form {
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
  align-content: center;;
  width: 100%;
}

form > label, form > button {
  font-size: 1.3rem;
}

form > input {
  width: 20%;
}

.form-output {
  display: flex;
  justify-content: center;
}

.favorite-dogs-container, .adoptable-dogs-container{
  display: flex;
  flex-direction: column;
}

.favorite-dogs-container > h2, .adoptable-dogs-container > h2{
  align-self: center;
}

.dogs-container{
  display: flex;
  flex-flow: row wrap;
}

.dog-card {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  width: 30%;
  margin: 1%;
  align-items:center;
}

.dog-card > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container{
  align-self: flex-end
}

.deleteButton {
  font-size: 1rem;
  background-color: transparent;
  border: none; 
  outline: none; 
  cursor: pointer;
}

.dog-card > img {
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
}

.dog-card > div > img {
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
}